<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
{{title}}
<h2>Add a New Coursework</h2>
 
<form method="post" role="form">
  <div class="form-group">
    <label for="Ctitle">Title</label>
    <input type="text" class="form-control" id="Ctitle"
           name="Ctitle" placeholder="enter title" required>
  </div>
  <div class="form-group">
    <label for="modules">Modules</label>
    <input type="text" class="form-control" id="modules"
           name="modules" placeholder="Enter coursework modules" required>
  </div>
  <div class="form-group">
    <label for="milestones">Enter milestones</label>
    <textarea class="form-control" id="milestones" name="milestones"
              placeholder="Enter the project milestones." rows="3" required>
    </textarea>
  </div>
   
   <div class="form-group">
    <label for="duedate">Coursework due date</label>
    <input type="date" class="form-control" id="duedate"
           name="duedate" placeholder="Enter due date" required>
  </div>

<div class="form-group">
    <label for="completed">Completion date</label>
    <input type="date" class="form-control" id="completed"
           name="completed" placeholder="Enter completion date" required>
  </div>

  <div class="form-group">
    <input type="submit" value="Add coursework" class="btn btn-primary">
  </div>
</form>
</body>
</html>

