<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
    <h1 class="display-4">{{title}}</h1>
    <h2 class="display-4">Add New Coursework</h2> 

<form method="post" role="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title"
           name="title" placeholder="Coursework Title" required>
  </div>
  <div class="form-group">
    <label for="module">Module</label>
    <input type="text" class="form-control" id="module"
           name="module" placeholder="Enter the modules for this coursework" required>
  </div>
  <div class="form-group">
    <label for="milestones">Milestones</label>
    <textarea class="form-control" id="milestones" name="milestones"
              placeholder="Enter the milestones for this project." rows="3" required>
</textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Post entry" class="btn btn-primary">
  </div>
</form>
</body
</html>

