<html lang="en">
<head>
{{>header}}
</head>
<body class="container">

<h2 class="display-4">Edit Coursework</h2> 


<form method="post" role="form" >   
{{#item}}
  <div class="form-group">
    <label for="Ctitle">Coursework Title: </label> 
    <input type="text" class="form-control-plaintext" id="Ctitle" name="Ctitle"  value="{{Ctitle}}" >
  </div>

   <div class="form-group">
    <label for="module">Coursework Module</label>
    <input type="text" class="form-control" id="module" name="module" value="{{module}}" >
   </div>

    <div class="form-group">
    <label for="milestones">Coursework milestones</label>
    <input type="text" class="form-control" id="milestones" name="milestones" value="{{milestones}}" >
   </div>
   

  <div class="form-group">
    <input type="submit" value="Save Coursework details" class="btn btn-primary">
  </div>
{{/item}}
</form>
</body>
</html>