<html lang="en">
<head>
{{>header}}
</head>
<body class="container">

<h1 class="display-4">{{Ptitle}}</h1>
<h2 class="display-4">Edit Coursework</h2> 


<form method="post" role="form" >   

  <div class="form-group">
    <label for="title">Title: </label> 
    <input type="text" class="form-control-plaintext" id="courseworktitle" name="courseworktitle"  value="{{title}}" >
  </div>

   <div class="form-group">
    <label for="module">Module</label>
    <input type="text" class="form-control" id="module" name="module" value="{{module}}" >
   </div>

   <div class="form-group">
    <label for="milestones">Milestones</label>
    <input type="text" class="form-control" id="milestones" name="milestones" value="{{milestones}}" >
   </div>


  <div class="form-group">
    <input type="submit" value="Save Coursework details" class="btn btn-primary">
  </div>

</form>
</body>
</html>