<html lang="en">
    <head>
    <h1>Coursework Journal</h1>
    </head>
        <body> 
            <form method="GET" action="/">
                  <button type="submit" value="button" class="btn btn-primary" formaction="/register">Register</button>
                  <p></p>
                  <button type="submit" value="button2" class="btn btn-primary" formaction="/login">Login</button>
            </form>
        </body>
</html>